<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--
        Algumas definições comuns de cores e afins
        para facilitar a reutilização dos arquivos.
    -->

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="red">
        <color rgba="1 0.1 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
    </material>

    <material name="black-transparent">
        <color rgba="0.1 0.1 0.1 0.9"/>
    </material>

</robot>